$color-title: rgba(0, 0, 0, 0.788);
$color-subtitle: papayawhip;


$border-black : black;

$fondo: #fcfcfc;
$fondo-rosado: rgb(143, 23, 69);
$fondo-headerfoot: #F8FFDB;

$fonts-title: 'Fuzzy Bubbles', cursive;
$fonts-subtitle: 'Zen Antique', serif;

