.servicios{
    margin-top: 150px;
    text-align: justify;
    background: $fondo-rosado;
    color: $color-subtitle;
    border-radius: 20px;
    
}

.questions {
    color: pink;
    font-weight: 650;
    
  }


