.logo{
    width: 90px;
    margin-left: 10px;
}

.carousel-item{
    max-height: 30rem;
    margin-bottom: 40px;
}

.cliente{
    height: 500px;
    object-fit: scale-down;
}

.img-1 {
   margin-top: -25px;
  
}
  

.adopta{
    margin-top: 5%;
    border-radius: 20px;
    
}

.img-ani{
    animation-name: thepet;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: static;
    animation-timing-function: linear;
}

@keyframes thepet {
    0%{
        rotate: -5deg;
    }
    25% {
        rotate: 0deg;
      }
      50% {
        rotate: 5deg;
      }
      75% {
        rotate: 0deg;
      }
      100% {
        rotate: -5deg;
      }
    
}

