.logo{
    width: 90px;
    margin-left: 10px;
}

.carousel-item{
    max-height: 30rem;
    margin-bottom: 40px;
}

.cliente{
    height: 500px;
    object-fit: scale-down;
}

.img-1 {
   margin-top: -25px;
   margin-left: 40px;
}
  


