.logo{
    width: 90px;
    margin-left: 10px;
}

.carousel-item{
    max-height: 30rem;
    margin-bottom: 40px;
}

.cliente{
    height: 500px;
    object-fit: scale-down;
}

.img-1 {
        float: right;
        height: 300px;
}
  

.img-2{
    height: 300px;
    width: 300px;
    float: left;
    margin-right: 15px;
}

.img-3{
    height: 300px;
    width: 300px;
    float: right;
    margin-left: 15px;
        
}